<!doctype html>
<html lang="ja">
<head>
<!-- meta -->
<%- include('./_partials/_meta', {page: top})%>
<!-- stylesheet -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/top.css">

<!-- analytics -->
<%- include('./_partials/_analytics')%>

</head>
<body>
<!-- header -->
<%- include('./_partials/_header')%>

<main>
<p>コンテンツ</p>
</main>

<!--#include virtual="/_ssi/sample.inc" -->

<!-- footer -->
<%- include('./_partials/_footer')%>

<!-- lib -->
<%- include('./_partials/_lib')%>
<script src="/js/main.js"></script>
<script src="/js/top.js"></script>
</body>
</html>
